$c-background-light: #f1f1f1;
$c-background-dark: #0E0B16;
$c-purple-1: #A239CA;
$c-purple-2: #0E0B16;
$c-yellow-1: #fed766;
$c-yellow-2: #f0ba1a;
$c-red-1: #fe4a49;
$c-red-2: #851e3e;
$c-red-3: #b73021;
$c-blue-1: #2ab7ca;
$c-gray-1: #E7DFDD;
$c-gray-2: #a8a2a1;
$c-gray-3: #d2d2d2;
$c-white: #FFF;
$c-pink-1: #fe4a49;
$c-pink-2: #ec3b3b;