.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 2100px;
  margin: 0 auto;
  padding: .9rem;

  &__logo {
    height: 5rem;
  }

  &__form-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 2100px;
    margin: 0 auto;
    padding: .9rem;
  
    &__logo {
      height: 5rem;
    }

    &__form-block {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}