.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: .3s;
  
  &-filter {
    background-color: $c-yellow-1;
    border-radius: 2rem;
    font-size: .9rem;
    height: 50px;
    margin: 0 .3em;
    padding: 0 .8rem;

    &:hover {
      background-color: $c-yellow-2;
    }
  }
}

@media screen and (max-width:600px) {
  .btn {

    &-filter {
      height: 60px;
      width: 90%;
    }
  }
}