.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s;
  
  &-filter {
    background-color: $c-yellow-1;
    border-radius: 2rem;
    height: 3rem;
    padding: .1rem;
    width: 100%;

    &:hover {
      background-color: $c-gray-1;
    }
  }
}

@media screen and (max-width:600px) {
  .btn {

    &-filter {
      height: 5rem;
      width: 90%;
    }
  }
}