.container__cards {
  display: flex;
  align-items: center;

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    &-data {
      background-color: $c-white;
      border: 2px solid $c-white;
      border-radius: 1.2rem;
      border-radius: 1.2rem;
      font-family: 'Poppins', 'sans-serif';
      height: 25rem;
      flex: 1;
  
      p {
        color: $c-red-3;
        font-size: 1.9rem;
        font-weight: bold;
        margin: 0.2rem 0;
      }

      small {
        color: $c-yellow-1;
        font-size: 1rem;
        font-weight: bold;
      }
    }

    &-last {
      background-color: $c-white;
      border: 2px solid $c-white;
      border-radius: 1.2rem;
      border-radius: 1.2rem;
      font-family: 'Poppins', 'sans-serif';
      height: 8.5rem;
      text-align: center;
      max-width: 50%;
      margin: 0 auto;

      p {
        color: $c-red-3;
        font-size: 1.9rem;
        font-weight: bold;
        margin: 0.2rem 0;
      }

      small {
        color: $c-yellow-1;
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container__cards {

    &-card {
  
      &-data {
        margin: 0 auto;
      }
    }
  }
}