.container__charts {
  background-color: $c-white;
  border-radius: 2rem;
  display: flex;

  &-cl {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 2rem;
    box-shadow: 1px 1px 10px $c-gray-1;
  }

  &:nth-child(0n+1) {
    align-items: center;
    justify-content: space-between;
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: 1px 1px 10px $c-gray-1;
  }

  &-title {
    color: $c-red-3;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.1rem;
    margin: 2rem 0 2rem;
    text-align: center;
  }

  &-title-top {
    margin: 2rem 0 0;
  }
}

.container__map {
  align-items: center;
  background-color: $c-white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 1.2rem 1.2rem;
  padding: 1rem;
}

#chartcases, #chartdeaths {
  height: 70vh;
  margin: 2rem;
  width: 100%;
}

#mapchart {
  height: 45vh;
  width: 100%;
}

#linechart {
  height: 70vh;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container__charts {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    &-chart {
      width: initial;
    }
  }

  #mapchart {
    margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .container__charts {

    &:nth-child(0n+1) {
      display: flex;
      flex-direction: column;
    }
  }

  .container__map {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #chartcases, #chartdeaths {
    height: 45vh;
    margin: 0;
    width: 100%;
  }

  #mapchart {
    height: 60vh;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}