.form {
  flex: 1;

  &__fieldset {
    border: none;
  }

  &__form-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

    &-input, &-select {
      border: 1px solid $c-gray-2;
      border-radius: 2rem;
      color: $c-gray-2;
      height: 50px;
      margin: 0 .3em;
      padding: 0 .6rem;
    }

    &-select {
      background-color: $c-white;
    }
  }
}

@media screen and (max-width: 600px) {
  .form {

    &__fieldset {
      border: none;
    }
  
    &__form-block {
      display: flex;
      flex-direction: column;
  
      &-input, &-select {
        height: 3rem;
        margin: 1rem 0;
        width: 100%;
      }
      
    }
  }  
}