.form {

  &__fieldset {
    border: none;
  }

  &__input-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &-input {
      border-radius: 2rem;
      height: 3rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .form {

    &__fieldset {
      border: none;
    }
  
    &__input-block {
      display: flex;
      flex-direction: column;
  
      &-input {
        border-radius: 2rem;
        height: 3rem;
      }
    }
  }  
}